[submodule "eregex.vim"]
	path = eregex.vim
	url = https://github.com/othree/eregex.vim
[submodule "vim/eregex.vim"]
	path = vim/eregex.vim
	url = https://github.com/othree/eregex.vim
[submodule "vim/vim-ledger"]
	path = vim/vim-ledger
	url = git@github.com:dgilman/vim-ledger.git
[submodule "vim/Vim-Jinja2-Syntax"]
	path = vim/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
